In [1]:
import pandas as pd

In [3]:
gs = pd.read_csv('./goog-1.csv')

In [4]:
gs

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
...,...,...,...,...,...,...,...
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [6]:
print(type(gs))
print(gs.shape)

<class 'pandas.core.frame.DataFrame'>
(3313, 7)

In [7]:
gs.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [10]:
gs.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [12]:
gs.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [13]:
gs.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

In [15]:
gs['Adj Close'].describe()

count    3313.000000
mean      380.072458
std       223.853780
min        49.681866
25%       226.407440
50%       293.029114
75%       536.690002
max       989.679993
Name: Adj Close, dtype: float64

In [16]:
gs.max()

Date         2017-10-13
Open              992.0
High         997.210022
Low               989.0
Close        989.679993
Adj Close    989.679993
Volume         82768100
dtype: object

In [17]:
gs.min()

Date         2004-08-19
Open          49.274517
High          50.541279
Low           47.669952
Close         49.681866
Adj Close     49.681866
Volume             7900
dtype: object

In [18]:
gs['Close'].min()

49.681866

In [26]:
gs.groupby(['Open'])['High'].sum()

Open
49.274517      50.854240
49.676899      51.693783
50.044510      51.182110
50.148830      50.541279
50.178635     104.857998
                 ...
982.349976    984.570007
983.159973    988.250000
984.500000    984.500000
987.450012    994.119995
992.000000    997.210022
Name: High, Length: 3208, dtype: float64

In [27]:
gs.groupby(['Close'])['High'].sum()

Close
49.681866      50.541279
49.801090      51.152302
49.845802      51.693783
50.427021      50.854240
50.461796      50.670437
                 ...
983.409973    984.570007
983.679993    986.909973
987.830017    994.119995
989.250000    990.710022
989.679993    997.210022
Name: High, Length: 3244, dtype: float64

In [28]:
gs.groupby(['Open','Close'])['High'].sum()

Open        Close
49.274517   50.427021      50.854240
49.676899   49.845802      51.693783
50.044510   50.819469      51.182110
50.148830   49.681866      50.541279
50.178635   50.461796      50.670437
                             ...
982.349976  983.409973    984.570007
983.159973  976.570007    988.250000
984.500000  949.830017    984.500000
987.450012  987.830017    994.119995
992.000000  989.679993    997.210022
Name: High, Length: 3313, dtype: float64